apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service-deployment    # match Jenkins pipeline
  labels:
    app: order-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
      - name: order-service-container  # match pipeline
        image: kuunyangna/order-service:v1
        imagePullPolicy: Always
        ports:
        - containerPort: 80
