apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-deployment
  namespace: order-namespace
  labels:
    app: order
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order
  template:
    metadata:
      labels:
        app: order
    spec:
      containers:
      - name: order-container
        image: kuunyangna/order-service:v2
        imagePullPolicy: Always
        ports:
        - containerPort: 80
